@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    background: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.book {
    transform-style: preserve-3d;
    position: relative;
    height: 300px;
    cursor: pointer;
    backface-visibility: visible;
    color: #C2A042;
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}

.front h1 {
    font-size: 15px;
    font-weight: bold
}

.front h2 {
    font-size: 14px;
    width: 90%;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-top: 10px;
}

.front .icon {
    font-size: 25px;
    margin-bottom: 10px;
    padding-top: 0px;
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform 1s ease-in-out, box-shadow .35s ease-in-out;
}

.front,
.back {
    background: rgb(33, 50, 75);
    background: linear-gradient(90deg, rgba(33, 50, 75, 1) 80%, rgba(20, 33, 52, 1) 100%);
}

.front,
.page1,
.page3,
.page5,
.back,
.page2,
.page4,
.page6 {
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
}

.page1 {
    background: #efefef;
    position: relative;
    overflow: hidden;
}

/* .page1::before {
    content: "";
    position: absolute;
    top: 28px;
    left: -70px;
    width: 160%;
    height: 75%;
    background-image: url(../src/assets/aguia.png);
    background-size: cover;
    background-position: center;
    transform: rotate(90deg) scaleX(-1);
    transform-origin: center;
    z-index: -1;
} */

.page2 {
    background: #efefef;
    overflow: hidden;
}

.page3 {
    background: #f5f5f5;
}

.page4 {
    background: #f5f5f5;
}

.page5 {
    background: #fafafa;
}

.page6 {
    background: #fdfdfd;
    overflow: hidden;
}

.page2::before {
    content: "";
    position: absolute;
    top: 48px;
    left: -47px;
    width: 150%;
    height: 68%;
    background-image: url(../src/assets/world-map.png);
    background-size: cover;
    background-position: center;
    transform: rotate(-90deg) scaleX(1);
    transform-origin: center;
    z-index: -1;
    opacity: 0.1;
}

.open-book {
    rotate: 90deg;
    transition-duration: 1000ms;
}

.open-front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.open-page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.open-page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.open-page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.open-page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.open-page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.open-page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.open-back {
    transform: rotateY(-20deg) scale(1.1);
}

.closed-book {
    rotate: 0deg;
    transition-duration: 1000ms;
}

.closed-front,
.closed-page1,
.closed-page2,
.closed-page3,
.closed-page4,
.closed-page5,
.closed-page6,
.closed-back {
    transform: rotateY(0deg) scale(1);
}

.page1-content,
.page2-content {
    position: absolute;
    width: 140%;
    height: 93%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transform: rotate(-90deg);
    transform-origin: center;
    color: #333;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}


.open-page1 .page1-content {
    transform: rotate(90deg) scaleX(-1);
    transform-origin: center;
}

.open-page2 .page2-content {
    transform: rotate(270deg);
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}