@font-face {
    font-family: 'Dot Matrix';
    src: url('./assets/DOTMATRI.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'OCR-A';
    src: url('./assets/OCR-A.ttf') format('truetype');
  }

    
  @font-face {
    font-family: 'Michigan';
    src: url('./assets/Michigan.ttf') format('truetype');
  }



  body {
    font-family: 'Dot Matrix', 'OCR-A BT', 'Michigan', sans-serif;
  }
  